/* @media screen and (min-width:1px) and (max-width:1365px) {
    body {width:100%;}
 }
 @media screen and (min-width:1366px) {
   body {width:100%;}
 }*/

.jumbotron {
    background-image: url("src/coverImage.png") ;
    background-size: 100% 100%;


}

.display-4{
    margin-left: 75px;
}

.lead{
    margin-left: 75px; 
}

.buy-button{
    margin-left: 75px;
}

.coinCards{
    margin-left: 100px;
    margin-right: 100px;
    
}

#detailsCard{
    margin-bottom : 5px;
}

.card-body{
    font-size: 16pt; 
}

#marketCap{
    margin-left: 50px; 

}

#supply{
    margin-left: 50px; 
}

#price{
    margin-left: 50px; 
}

#addToCartInCardButton{
    margin-left: 100px;
}

#nameAndIDOfCoin{
    margin-left: 2px;
}

#theCart{
    width: 25%; 
}