.jumbotron {
  background-image: url("src/coverImage.png") ;
  background-size: 100% 100%;


}
#background-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      background-size: cover;
    }

.display-4{
  margin-left: 75px;
}

.lead{
  margin-left: 75px; 
}

.buy-button{
  margin-left: 75px;
}

.coinCards{
  margin-left: 100px;
  margin-right: 100px;
  position : relative;

  
}

#detailsCard{
  margin-bottom : 5px;
}

.card-body{
  font-size: 16pt; 
}

#marketCap{
  margin-left: 100px; 

}

#supply{
  margin-left: 100px; 
}



#nameAndIDOfCoin{
  width: 100px; 
  margin-left: 2px;
}

#price{
  width: 100px; 
  margin-left: 100px;
}

#supply{
  width: 100px;
}

#marketCap{
  width: 100px; 
}

#addToCartInCardButton{
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-left: 175px; 

  
}
